@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Olemme vuonna 1952 perustettu ohjelmistoalan yritys, joka tekee maailman johtavien yritysten kanssa sovelluskehitystä asuintilojen älykkäiden järjestelmien parissa.
    Ole yhteydessä meihin kun tarvitset laadukkaan kokonaisuuden tilojesi ohjaukseen.<br />
</p>

<p>
    <br />


    <img src="~/Content/images/saunavalaistus.jpg" height="680" class="img-rounded" width="1062"/>
</p>
