@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ohjelmistotalo Haikara<br>
    Keilaniemi 10, 02100 ESPOO<br>
    0440 651 825
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:Support@example.com">info@ohjelmistosi.fi</a><br />
    <strong>Myynti:</strong> <a href="mailto:Marketing@example.com">markkinointi@ohjelmistosi.fi</a>
</address>

<img src="~/Content/images/keilaniemi.jpg" width="1062" height="680" class="img-rounded" /><br><br />
<p><a href="https://localhost:44319/" class="btn btn-primary btn-lg">Takaisin pääsivulle &raquo;</a></p>