@{
    ViewBag.Title = "Kotisivu";
}

<div class="jumbotron">
    <h1>Älytalo-ohjaus</h1>
    <p class="lead">
        Tällä sivustolla voit säätää talosi ominaisuuksia kuten huoneiden ja saunan lämpötilaa sekä ilmastoinnin asetuksia ja valojen kirkkautta.
    </p>

    <p>
        <br/>
        <img src="~/Content/images/sauna.jpg" width="1062" height="680" class="img-rounded" alt="sauna" />
    </p>
    <p><a href="https://localhost:44319/Home/About" class="btn btn-primary btn-lg">Lue lisää &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Aloita valojen säätäminen</h2>
        <p>Säädä sopiva valon kirkkausaste</p>
        <p><a class="btn btn-default" href="https://localhost:44319/Valot">Valon säätö &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Säädä talon lämpötilaa</h2>
        <p>Täällä voit asettaa haluamasi lämpötila-asetuksen huoneille</p>
        <p><a class="btn btn-default" href="https://localhost:44319/LampoTila">Lämpötilan säätö &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Säädä saunan lämpötilaa</h2>
        <p>Täällä voit asettaa haluamasi saunan lämpötilan</p>
        <p><a class="btn btn-default" href="https://localhost:44319/Saunan">Saunan lämpötila &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Säädä ilmastoinnin tasoa</h2>
        <p>Täällä voit asettaa haluamasi ilmastoinnin tason</p>
        <p><a class="btn btn-default" href="https://localhost:44319/IlmastointiTila">Ilmastoinnin taso &raquo;</a></p>
    </div>
</div>